@font-face { /* Pour les titres */
    font-family: 'MavenPro';
    src: url("../font/MavenPro/MavenPro-Regular.ttf");
}

@font-face { /* Pour les paragraphes */
    font-family: 'Amiko';
    src: url("../font/Amiko/Amiko-Regular.ttf");
}

h1, h2, h3, h4 {
    font-family: 'MavenPro';
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3{
    font-size: 40px;
}

p, a, label, input{
    font-family: 'Amiko';
    font-size: 30px;
}


/* CSS pour le Header */
header {
    background-color: #365452;
    
}

header section {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

header nav {
    background-color: #588A87;
    padding: 1em;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 96px;
    color: #E2F9FF;
}

header section img {
    float: left;
}

.logo {
    width: 150px;
    height: 150px;
}

.logo_nav {
    width: 100px;
    height: 100px;
}


/* CSS pour le footer */
footer {
    background-color: #365452;
    display: flex;
    justify-content: space-around;
}

footer #info-footer {
    display: flex;
    justify-content: space-around;
}

footer #info-footer article {
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em 2em 2em;
}

footer #section-reseaux {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

footer .reseau_item {
    align-self: center;
}

footer h3 {
    font-size: 40px;
    margin: 0.5em;
    color: #E2F9FF;
}

footer a {
    font-size: 30px;
    text-decoration: none;
    color: #E2F9FF;
    margin: 0.2em;
}

footer a:hover {
    color: #E3D7CC;
}

.logo_reseaux {
    width: 75px;
    height: 75px;
}

/* position titre du main */
main {
    display: flex;
    flex-direction: column;
}

main>h2{
    align-self: center;
}