@tailwind utilities;
@reference "tailwindcss";


@theme{
  --color-vertFonce: #365452;
  --color-vertClair: #588A87;
  --color-beige: #E3D7CC;
  --color-rouge: #A70101;
  --color-bleuClair: #E2F9FF;
  --color-turquoise: #86D0CC;

}

