@import "tailwindcss";
@tailwind utilities;
@reference "tailwindcss";

@theme{
  --color-vertFonce: #365452;
  --color-vertMoyen: #588A87;
  --color-vertClair: #86D0CC;
  --color-beige: #E3D7CC;
  --color-rouge: #A70101;
  --color-bleu: #E2F9FF;
}

/* Imports des autres fichiers CSS */
@import "./fo/general_front.css";