/* Définition des styles génériques */
@font-face { /* Pour les titres */
    font-family: 'MavenPro';
    src: url("/font/MavenPro/MavenPro-Regular.ttf");
}

@font-face { /* Pour les paragraphes */
    font-family: 'Amiko';
    src: url("/font/Amiko/Amiko-Regular.ttf");
}

h1, h2, h3, h4 {
    font-family: 'MavenPro';
}

h1, h2, h3 {
    font-weight: bold;
}

p, a, input, label,button {
    font-family: 'Amiko';
}

@media (max-width: 768px) {

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    p, a, input, label, button {
        font-size: 16px
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    p, a, input, label, button {
        font-size: 20px;
    }
}

main>h2{
    text-align: center;
    align-self: center;
    margin: 0.5em;
}

@import "tailwindcss";
@tailwind utilities;
@reference "tailwindcss";

@theme{
  --color-vertFonce: #365452;
  --color-vertMoyen: #588A87;
  --color-vertClair: #86D0CC;
  --color-beige: #E3D7CC;
  --color-rouge: #A70101;
  --color-bleu: #E2F9FF;
}
