/*bordure du main*/
main {
    padding: 0px 100px;
}

/* zone de plusieurs label */
.zone-form {
    margin: 0 2em;
    display : flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

/* ensemble label et parametre */
.case-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1.5em 1.5em 0 0;
}

/* position des bouton  bas du form */
.buttons-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input[type="checkbox"]{
    border: 5px solid black;
}

/* css des input*/
input{
    border-radius: 15px;
    border:  5px solid #e3d7cc;
    box-shadow: 4px;
    height: 80px;
}

input[type="submit"], input[type="reset"]{
    width: 400px;
    height: 90px;
    border: 3px solid #14392f;
    background: rgba(0,0,0,0);
}

.erreur{
    margin-top: 10px;
    color: red;
}

/* text souligné */
.underline {
    text-decoration: underline;
}

/* position flex */
.inline{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: start;
}

.milieu{
    display: flex;
    align-items: center;
}