/* position titre du main */
main {
    display: flex;
    flex-direction: column;
    color: black;
}

main h3 {
    color: black;
}

main>h2{
    align-self: center;
    margin: 0.5em;
}

main{
    margin: 2em 5em;
}

h2+h3{
    align-self: center;
    margin-top: 0;
    margin-bottom: 2em;
}

article p {
    margin: 0;
    padding: 0;
}

article h3{
    margin-left: 2em;
}

