@font-face { /* Pour les titres */
    font-family: 'MavenPro';
    src: url("../../font/MavenPro/MavenPro-Regular.ttf");
}

@font-face { /* Pour les paragraphes */
    font-family: 'Amiko';
    src: url("../../font/Amiko/Amiko-Regular.ttf");
}


body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'MavenPro';
    color: #365452;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 40px;
}

p, a, input, label{
    font-family: 'Amiko';
    font-size: 30px;
    color: #365452;
    text-decoration: none;
}

a:hover {
    color: #A70101;
}


/* CSS pour le Header */
header {
    background-color: #86D0CC;
}

#header-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1.5em;
}

#header-section h1{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 0.25em;
}

#header-section div {
    padding-left: 3em;
}

.logo {
    width: 150px;
    height: 150px;
}

#nav-section section {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    
    background-color: #E3D7CC;
    padding: 1em;
}

#nav-section ul {
    display: none;
}

/* Mise en page de chaque div contenant le logo + titre de l'élément de la navbar */
.logo_nav_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Pour l'icône de l'accueil */
.logo_accueil .logo_nav_img {
    height: 75px;
    width: 75px;
    background-image: url("../../images/logo/bootstrap_icon/house.svg") ;
    background-repeat: no-repeat;
    background-size: 75px;
}

.logo_accueil .logo_nav_img:hover {
    background-image: url("../../images/logo/bootstrap_icon/house-fill.svg") ;
}

/* Pour l'icône des livraisons/commandes */
.logo_commandes .logo_nav_img {
    height: 75px;
    width: 75px;
    background-image: url("../../images/logo/bootstrap_icon/truck.svg") ;
    background-repeat: no-repeat;
    background-size: 75px;
}

.logo_commandes .logo_nav_img:hover {
    background-image: url("../../images/logo/bootstrap_icon/truck-fill.svg") ;
}

/* Pour l'icône de création de produit */
.logo_creer_produit .logo_nav_img {
    height: 75px;
    width: 75px;
    background-image: url("../../images/logo/bootstrap_icon/plus-square.svg") ;
    background-repeat: no-repeat;
    background-size: 75px;
}

.logo_creer_produit .logo_nav_img:hover {
    background-image: url("../../images/logo/bootstrap_icon/plus-square-fill.svg");
}

/* Pour l'icône du profil */
.logo_profil .logo_nav_img {
    height: 75px;
    width: 75px;
    background-image: url("../../images/logo/bootstrap_icon/person.svg") ;
    background-repeat: no-repeat;
    background-size: 75px;
}

.logo_profil .logo_nav_img:hover {
    background-image: url("../../images/logo/bootstrap_icon/person-fill.svg");
}

/* CSS pour le footer */
footer {
    background-color: #86D0CC;
    display: flex;
    justify-content: space-around;
}

footer #info-footer {
    display: flex;
    justify-content: space-around;
}

footer #info-footer article {
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em 2em 2em;
}

footer #section-reseaux {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

footer .reseau_item {
    align-self: center;
}

footer h3 {
    margin: 0.5em;
}

footer a {
    margin: 0.2em;
}

.logo_reseaux {
    width: 75px;
    height: 75px;
}

/* position titre du main */
main {
    display: flex;
    flex-direction: column;
}

main>h2{
    align-self: center;
}