@media (max-width: 1324px) { /* CSS Pour une taille d'écran de téléphone (idéal 428-430px, et jusqu'à 1440px au délà passe en écran PC) */
    
    /* position titre du main */
    main {
        display: flex;
        flex-direction: column;
    }

    main>h2{
        align-self: center;
        margin: 0.5em;
    }

    main{
        margin: 2em 3em;
    }

    main>h2+h3{
        align-self: center;
        margin-top: 0;
        margin-bottom: 1em;
    }

    main>article>p {
        margin: 0;
        padding: 0;
    }

    main>article>h3{
        margin-left: 1em;
    }
}

@media (min-width: 1324px) { /* CSS Pour une taille PC supérieur à 1440px */
    
    main {
        display: flex;
        flex-direction: column;
    }

    main>h2{
        align-self: center;
        margin: 0.5em;
    }

    main{
        margin: 2em 5em;
    }

    main>h2+h3{
        align-self: center;
        margin-top: 0;
        margin-bottom: 2em;
    }

    main>article>p {
        margin: 0;
        padding: 0;
    }

    main>article>h3{
        margin-left: 2em;
    }
}









